In [178]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [183]:
train= pd.read_csv('data/cases_2021_train_processed_2.csv')
test= pd.read_csv('data/cases_2021_test_processed_unlabelled_2.csv')
len(test)
#test = test.iloc[: , 1:]
#train = test.iloc[: , 1:]
#train.to_csv('data/cases_2021_train_processed_2.csv',index = False)
#test.to_csv('data/cases_2021_test_processed_unlabelled_2.csv',index=False)

4304

In [180]:
import numpy as np
print("Train before NA impute:",train["province"].isna().sum())
for i,x in train.iterrows():
        if(pd.isna(x['province'])):
            train.at[i,'province'] = x['country']
print('Train after NA impute:',train["province"].isna().sum())
train.to_csv('data/cases_2021_train_processed_2.csv',index = False)

print('Test after NA impute:',test["province"].isna().sum())
for i,x in test.iterrows():
        if(pd.isna(x['province'])):
            test.at[i,'province'] = x['country']
print('Test after NA impute:',test["province"].isna().sum())
test.to_csv('data/cases_2021_test_processed_unlabelled_2.csv',index=False)

Train before NA impute: 3621
Train after NA impute: 0
Test after NA impute: 872
Test after NA impute: 0

In [ ]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, OneHotEncoder
from sklearn.feature_selection import mutual_info_classif as MIC, SelectKBest
import matplotlib.pyplot as plt
def section_seven():
    print("Section 7: Calculating MI scores and dropping features")
    clean_train=pd.read_csv('data/train.csv')
    clean_test=pd.read_csv('data/cases_2021_test_processed_unlabelled_2.csv')
    target_train=clean_train[['outcome_group']].values
    le = LabelEncoder()
    le.fit(target_train)
    target_train_encoding = le.transform(target_train)
    data_train2=clean_train[['age','sex','province','country','latitude','longitude','chronic_disease_binary','Confirmed','Deaths','Recovered','Active','Incident_Rate','Case_Fatality_Ratio']].values
    numerical_MI = [0,0,0,0,0,0,0,0,0,0,0,0,0]
    for i in range(1,15):
        mi=MIC(data_train2,target_train_encoding)
        numerical_MI = np.add(numerical_MI, mi)
    numerical_MI = numerical_MI/i
    plt.figure()
    plt.bar([i for i in range(len(numerical_MI))], numerical_MI)
    plt.show()

In [181]:
from sklearn.feature_selection import VarianceThreshold
clean_train=pd.read_csv('data/train.csv')
var_thr = VarianceThreshold(threshold = 0.10) #Removing both constant and quasi-constant
data_train2=clean_train[['age','sex','province','country','latitude','longitude','chronic_disease_binary','Confirmed','Deaths','Recovered','Active','Incident_Rate','Case_Fatality_Ratio']].values
var_thr.fit(data_train2)
var_thr.get_support()

array([ True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True])

In [186]:
clean_test=pd.read_csv('data/test.csv')
clean_test = clean_test.drop(columns='chronic_disease_binary')
clean_test = clean_test.drop(columns='date_confirmation')
clean_train.to_csv('data/test.csv',index=False)

In [188]:

clean_train

,age,sex,province,country,latitude,longitude,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
0,59,0.0,50.0,27.0,14.595800,120.97720,747288,13297,603746,130245,681.949809,1.779368
1,79,1.0,65.0,21.0,11.139270,79.08428,886673,12719,858075,15879,1139.078325,1.434463
2,44,0.0,65.0,21.0,13.083620,80.28252,886673,12719,858075,15879,1139.078325,1.434463
3,36,1.0,65.0,21.0,13.124620,79.91815,886673,12719,858075,15879,1139.078325,1.434463
4,52,1.0,7.0,21.0,25.312580,86.48888,265527,1576,262371,1580,212.762145,0.593537
...,...,...,...,...,...,...,...,...,...,...,...,...
4299,66,1.0,36.0,21.0,13.000000,77.58333,997004,12567,956170,28267,1475.672533,1.260476
4300,66,1.0,50.0,27.0,14.595800,120.97720,747288,13297,603746,130245,681.949809,1.779368
4301,53,0.0,65.0,21.0,12.682240,79.98008,886673,12719,858075,15879,1139.078325,1.434463
4302,25,1.0,65.0,21.0,13.160185,80.29769,886673,12719,858075,15879,1139.078325,1.434463
4303,34,1.0,36.0,21.0,13.335010,74.74936,997004,12567,956170,28267,1475.672533,1.260476